.cls-1,.cls-4{fill:#231f20;}
/*.cls-2{letter-spacing: normal;}*/
.cls-3{fill:#47a8e5;}.cls-5{fill:#133a7c;}.cls-6{fill:#c6ccce;}
.cls-7{fill:#67a6b5;}.cls-8{fill:#eef4f5;}.cls-9{fill:#fafafa;}.cls-10{fill:#f0f6f7;}.cls-11{fill:#8ebec9;}.cls-12{fill:#eaeaea;}
