@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", "Roboto", sans-serif;
  font-weight: 800;
  color: black;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@layer base{
  h2{
    @apply text-xl font-bold text-gray-800 mt-3;
  }
  label{
    @apply font-semibold m-0 px-3 py-1;
  }
  .req{
    @apply text-red-500 pl-1;
  }
  input{
    @apply border-b border-gray-300 w-24 m-0 px-1 py-1;
  }
}
