@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Nunito','Roboto',sans-serif;
    font-weight: 800;
    color:black;
}

h1{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}